@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fdfdfd;
    --foreground: #1d1d1d;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-white: var(--background);
    --color-black: var(--foreground);
    --radius-xl: 19px;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

html {
    overscroll-behavior-y: none;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Times New Roman", Times, serif;
}

.glass {
    background: rgba(118 118 118 / 32%);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.296);
}

.icon-link {
    color: black !important;
    opacity: 1;
}

.icon-link:hover {
    opacity: 0.8;
    color: blue;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

@supports (-webkit-touch-callout: none) and (not (height: 100dvh)) {
    @media (pointer: coarse) and (hover: none) {
        .ios-full {
            min-height: -webkit-fill-available;
        }
    }
}
